*
{
    padding: 0px;
    margin: 0px;
}


.cont-header
{
    width: 100%;
    height: 60px;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

.cont-header p
{
    margin-left: 50px;
    padding-top: 15px;
    font-size: 24px;
}


.cont-add
{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10%;
}


.inp
{
    height: 28px;
    width: 70%;
    color: black;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.btn
{
    float: right;
    height: 32px;
    width: 20%;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color:white;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

.cont-tasks
{
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
    font-family: 'Courier New', Courier, monospace;
    height: 700px;
    width: 600px;
}
.task input[type="checkbox"]:checked + span
{
    text-decoration: line-through;
}
.task input[type="checkbox"]:checked
{
    text-decoration: solid;
}
.task
{
    display: none;
    height: 40px;
    border-width: 2px;
    border-radius: 5px;
    border-color: black;
}

.task input
{
    margin-top: 14px;
    margin-left: 12px;
    margin-right: 20px;
}

.task img
{
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    height: 22px;
}

.content {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: row;
}

.content h1,h3{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.tls {
  height: 800px;
  width: 25%;
}

.tl {
  margin: 20px 10%;
}

.ts {
  height: 800px;
  width: 30%;
}

.t {
  margin: 20px 10%;
}

.t-d {
  margin-right: 5%;
  height: 800px;
  width: 45%;
}

.task-info{
  margin-top: 20px;
}

.task-info span{
  height: 40px;
  display: block;
  width: 90%;
  margin-left: 10%;
}

.task-info input{
  float: right;
}

.inptl:hover, .inptl:focus, .inpt:hover, .inpt:focus{
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;

}

.inptl, .inpt{
  margin-left: 7%;
  font-size: 24px;
  height: 28px;  font-family: 'Courier New', Courier, monospace;
  width: 60%;
  color: black;
  border: none;
}

.inpt{
  flex: none;
}

.btnupd, .btndel{
  flex: none;
  width: 14%;
  height: 32px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  background-color: black;
  color:white;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
}
.btnupd{
  background-color: black;
  float: right;

}

.btndel{
  background-color: red;
  float: right;
}

